/* Selected tag {
    property: value;
} */
body {
    background:url(https://img.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/3YOAIOYJGBCU7NJCH3OCX3U4C4.jpg&high_res=true&w=2048);
}

h1 {
    color: blue;
}

li {
    color: rgb(8, 84, 1);
}

p {
    color: #ffff03;
}

h4 {
    color: rgba(30, 40, 20, 0.5);
}

div {
    background-color: #3de3e9;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(161, 166, 10);
}

span {
    color: #000000;
    background-color: red;
}